:root {
  /* Colours */
  --primary-bg-color: rgb(0, 0, 0); /* used */
  --primary-font-color: #ffffff; /* used */

  --secondary-bg-color: #ffffff; /* used */
  --secondary-font-color: #FFFFFF; /* used */

  /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
  --placeholder-bg-color: #3cff00; /* used */
  --placeholder-font-color: #575c61; /* used */

  /* NOT USED AT THE MOMENT */
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  /* Borders */

  --border-color-light: #f7f5c2; /* used */
  --border-radius: 0.25rem;

  /* Links */
  --link-color: #84888e; /* used */
  --hover-color: #f9fcfe; /* used */
  --active-color: #f52727; /* used */

  /* From styletile */

  /* Fonts */
  --logotype-font: "Roboto", sans-serif;
  --headline-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  --link-font: "Calibri", sans-serif;

  /* Text sizes */
  --logotype-size: 48px;
  --headline1-size: 48px;
  --headline2-size: 36px;
  --headline3-size: 32px;
  --bodytext-size: 24px;
  --cta-text-size: 20px;
  --followup-text-size: 20px;
  --form-submit-size: 48px;

  /* Text colors */
  --logotype-color: #ffffff;
  --headline-color: #3cff00;
  --headline-color-inverted: white;
  --bodytext-color: #575c61;
  --bodytext-color-inverted: #f9fcfe;
  --cta-text-color: #bbc3ca;
  --cta-text-color-inverted: #bbc3ca;
  --followup-text-color: #000000;
  --followup-text-color-inverted: #bbc3ca;
  --formfield-text-color: #575c61;
  --form-submit-color: #bbc3ca;
  --form-submit-color-inverted: #bbc3ca;

  /* Background colors */
  --logotype-background-color: #3cff00;
  --header-background-color: #000000;
  --article-background-color: #000000;
  --news-background-color: #000000;
  --news-background-color-inverted: #000000;
  --info-background-color: #000000;
  --headline-bg-color:  #dbdde3;
  --headline-bg-color-inverted: #3cff00;
  --bodytext-bg-color: #dbdde3;
  --bodytext-bg-color-inverted: #dbdde3;
  --cta-text-bg-color: #dbdde3;
  --cta-text-bg-color-inverted: #dbdde3;
  --followup-text-bg-color: #3cff00;
  --followup-text-bg-color-inverted: #6f90eb;
  --form-background-color: none;
  --form-text-color: #dbdde3;
  --formfield-background-color: #dbdde3;
  --formfield-background-color-active: #dbdde3;
  --form-submit-bg-color: #dbdde3;
  --form-submit-bg-color-inverted: #dbdde3;

  /* Info-boxes */
  --info-bg-color-yellow: #3cff00;
  --info-bg-color-green: #28a801;
}
