#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--info-background-color);
  padding: 0;
  box-shadow: 0 0 10px #3cff00;
  border: 2px solid #3cff00;
}
 .info-text h2 {
  background-color: transparent;
  border: 3px solid  #3cff00;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 10px  #3cff00;
}
.info-text h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
.info-text p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

.info-graphic svg{
  width: 100%;
 height: auto;
}

